<div class="container-info" id="contact">
  <div class="contact-info-container">
    <div class="contact-title">
      <h1>Contact</h1>
      <hr />
    </div>
    <p>
      I am currently seeking a full-time job, but I am also open to freelance
      opportunities. If you have any other requests or questions, please don't
      hesitate to contact me. I am open to various possibilities, and I am
      confident that you will be pleased if you choose to reach out to me.
    </p>
  </div>
  <div class="message-container">
    <h2>Message me here</h2>
    <div class="email-container">
        <img src="./assets/icons/email.svg" alt="email">
        <h2>bartoszpiprek123@gmail.com</h2>
    </div>
  </div>
</div>
