.container-info {
  justify-content: space-between;
  height: 80vh;
}
.contact-info-container {
  width: 45%;
}

.contact-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 32px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: var(--black);
}
p {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

.message-container {
  width: 45%;
  border: 1px solid var(--black);
  padding: 16px;
}

.message-container h2 {
  font-size: 24px;
  font-weight: 700;
}

.email-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-left: -4px;
}

.email-container img {
  width: 56px;
}

/* Media */

/* 1300px */
@media (max-width: 1300px) {
  .email-container h2 {
    font-size: 16px;
  }
}

/* 950px */
@media (max-width: 950px) {
  .container-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 750px */
@media (max-width: 750px) {
  .email-container img {
    width: 32px;
  }
  .email-container h2 {
    font-size: 14px;
  }
  .contact-info-container, .message-container {
    width: 55%;
  }
   
}
