<div class="container-info" id="about">
  <div class="about-container">
    <img src="./assets/images/about-me-image.png" alt="about-me-image" />
    <div class="about-info">
      <h1>About Me</h1>
      <h2>I’m Junior Frontend Developer</h2>
      <p>
        From Poland with a passion for creating responsive and aesthetically
        pleasing user interfaces. In my work, I emphasize continuous improvement
        of skills in the realm of modern web technologies and gaining practical
        experience through project implementation. I believe in the power of
        creativity and commitment, which is why I always strive to deliver
        valuable solutions for users.
        <br /><br />
        Beyond my technical skills, I do well in teams, finding inspiration and
        fulfillment in working collectively towards a shared goal. I welcome new
        challenges as opportunities for personal and professional growth,
        pushing the boundaries of my capabilities to explore innovative
        solutions and elevate the overall quality of my work.
      </p>
    </div>
  </div>
</div>
