.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-info {
  width: 487px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 8px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--black50);
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
}

/* Media */

/* 1300px */
@media (max-width: 1300px) {
  img {
    width: 480px;
  }

  .about-info {
    width: 350px;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
}

/* 950px */
@media (max-width: 950px) {
  .about-container{
    margin-top: 100px;
    flex-direction: column;
  }
  .about-info{
    order: 1;
    width: 400px;
    margin-bottom: 32px;
  }
  img{
    order: 2;
  }
}
