<h1>Nothing is here</h1>
<img src="../assets/icons/email.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/playwright.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/typescript.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/visual-studio-code.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/wordpress.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/html.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/css.svg" alt="" width="32" style="margin-right: 16px;">
<img src="../assets/icons/js.svg" alt="" width="32" style="margin-right: 16px;"> 
<img src="../assets/icons/angular.svg" alt="" width="35" style="margin-right: 16px;"> 
<img src="../assets/icons/react.svg" alt="" width="35" style="margin-right: 16px;"> 
<img src="../assets/icons/figma.svg" alt="" width="35" style="margin-right: 16px;"> 
<img src="../assets/icons/github.svg" alt="" width="35" style="margin-right: 16px;"> 