<header id="home" [@fadeIn]>
    <div class="hero-container">
        <div class="hero-text">
            <p><span>Hi, I am </span> <img src="../../../assets/icons/hello-hand.png" alt="hello-hand" width="48"></p>
            <h1>Bartosz Piprek</h1>
            <h2>I love design and code beautiful websites.</h2>
            <a href="#contact"><button>Contact me!</button></a>
        </div>
        <div class="hero-img">
            <img src="../../../assets/images/avatar.jpg" alt="hero-img">
            <a href="#contact"><button class="btn-hidden">Contact me!</button></a>
        </div>
    </div>
    <a href="#about"><img class="arrow-icon" src="../../../assets/icons/arrow.svg" alt="arrow" width="56"></a>
</header>
