header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.hero-container {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p span {
  font-size: 32px;
  color: var(--black75);
  font-weight: 400;
}

p {
  position: relative;
}
p:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: var(--black);
  top: 5px;
  left: 0;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--black50);
}

button {
  margin-top: 40px;
  background-color: transparent;
  border: 1px solid var(--black);
  font-size: 24px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
}
.btn-hidden {
  display: none;
}

.hero-img img {
  border-radius: 100%;
  border: 4px solid var(--black);
  width: 357px;
}

.arrow-icon {
  margin-top: 200px;
  transform: rotate(90deg);
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
.arrow-icon:hover {
  transform: rotate(90deg) translate(24px);
}

/* Media Query */
/* 1300px */
@media (max-width: 1300px) {
  p span {
    font-size: 24px;
  }

  p:after {
    width: 48px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 16px;
  }

  button {
    font-size: 20px;
    padding: 10px;
  }

  .hero-img img {
    width: 300px;
  }
}

/* 950px */
@media (max-width: 950px) {
  header{
    margin-bottom: 88px;
  }
  .hero-container {
    margin-top: 80px;
    flex-direction: column;
  }
  .hero-text {
    margin-bottom: 48px;
  }
  .hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-top: 24px;
    display: none;
  }
  .btn-hidden {
    display: block;
  }
  .arrow-icon {
    margin-top: 56px;
  }
}

/* 500px */
@media (max-width: 500px) {
  .hero-img img {
    width: 250px;
  }

  h2 {
    font-size: 12px;
  }
  .hero-container {
    align-items: center;
  }
  .arrow-icon {
    display: none;
  }
}

/* 350px */
@media (max-width: 350px) {
  p span {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 10px;
  }
}
