<div class="container-projects" id="projects">
    <div class="projects-title">
        <h1>Projects</h1>
        <hr>
    </div>

    <!-- Projects Cards -->
    <div class="cards-container">
        <!-- project 1 -->
        <div class="card-container">
            <div class="card-image"> <img src="../../../assets/images/ang-blog.png" alt="ang-blog"></div>
            <div class="tag-container">
                <p>ANGUlar</p>
                <p>FIREBASE</p>
                <p>TYPESCRIPT</p>
            </div>
            <div class="info-container">
                <h2>ANG-BLOG</h2>
                <p>A blog with an admin panel where you can modify every element of the blog.</p>
                <div class="project-btn-container">
                    <button class="btn-live">Live</button>
                    <button class="btn-github">Github</button>
                </div>
            </div>
        </div>

        <!-- projct 2  -->
        <div class="card-container">
            <div class="card-image"> <img src="../../../assets/images/prevac.png" alt="ang-blog"></div>
            <div class="tag-container">
                <p>ANGUlar</p>
                <p>FIREBASE</p>
                <p>TYPESCRIPT</p>
            </div>
            <div class="info-container">
                <h2>ANG-BLOG</h2>
                <p>A blog with an admin panel where you can modify every element of the blog.</p>
                <div class="project-btn-container">
                    <button class="btn-live">Live</button>
                    <button class="btn-github">Github</button>
                </div>
            </div>
        </div>

        <!-- project 3  -->
        <div class="card-container">
            <div class="card-image"> <img src="../../../assets/images/recipe-book.png" alt="ang-blog"></div>
            <div class="tag-container">
                <p>ANGUlar</p>
                <p>FIREBASE</p>
                <p>TYPESCRIPT</p>
            </div>
            <div class="info-container">
                <h2>ANG-BLOG</h2>
                <p>A blog with an admin panel where you can modify every element of the blog.</p>
                <div class="project-btn-container">
                    <button class="btn-live">Live</button>
                    <button class="btn-github">Github</button>
                </div>
            </div>
        </div>
    </div>
</div>
