<div class="container-projects" id="projects">
    <div class="projects-title">
        <h1>Projects</h1>
        <hr>
    </div>

    <!-- Projects Cards -->
    <div class="cards-container">
        <!-- projects -->
        <div class="card-container" *ngFor="let card of cardsProject">
            <div class="card-image"> <img src={{card.image}} alt={{card.title}}></div>
            <div class="tag-container">
                <p  *ngFor="let oneTag of card.tag">{{oneTag}}</p>
            </div>
            <div class="info-container">
                <h2>{{card.title}}</h2>
                <p>{{card.desc}}</p>
                <div class="project-btn-container">
                    <a class="btn-live" href=''>Live</a>
                    <a class="btn-github">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
