.container-projects {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 32px;
}
hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: var(--black);
}

.cards-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-container {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
}
.card-image {
  position: relative;
  width: 349px;
  height: 250px;
  overflow: hidden;
}
.card-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
}
.tag-container p {
  margin-right: 8px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}
.info-container h2 {
  font-size: 24px;
  font-weight: 500;
}

.info-container p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
}

.project-btn-container {
  display: flex;
  gap: 16px;
}

.btn-live,
.btn-github {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--black);
}

.btn-live,
.btn-github:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn-live:hover,
.btn-github {
  background-color: var(--white);
  color: var(--black);
}

.more-info-container {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tools-container,
.skills-container {
  display: flex;
  gap: 24px;
}
.tech-stack h2 {
  width: 88px;
}
.tech-stack hr {
  width: 2px;
  height: 100%;
  border: none;
}

.tech-stack img {
  width: 32px;
}

.more-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-projects h2 {
  font-weight: 400;
  font-size: 32px;
}

.git-link {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.git-link img {
  width: 40px;
}

.git-link a {
  color: var(--link);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* Media */

/* 1300px */
@media (max-width: 1300px) {
  .container-projects {
    height: auto;
  }
  .cards-container {
    gap: 48px;
  }
  .more-info-container {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 48px;
  }

  .tech-stack hr {
    width: 2px;
    height: auto;
    border: none;
  }
}

/* 950px */
@media (max-width: 950px) {
  .container-projects {
    margin-top: 500px;
    align-items: center;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .projects-title {
    width: 50%;
  }
}

/* 750px */
@media (max-width: 750px) {
  .tools-container,
  .skills-container {
    width: 55%;
    flex-wrap: wrap;
    gap: 0px;
  }
  .tools-container h2,
  .tools-container hr,
  .tools-container img,
  .skills-container h2,
  .skills-container hr,
  .skills-container img {
    margin-right: 24px;
    margin-bottom: 8px;
  }
  .tech-stack {
    align-items: center;
  }
}

/* 500px */
@media (max-width: 500px) {
  .projects-title {
    width: 70%;
  }

  .tools-container,
  .skills-container {
    width: 70%;
  }

  .more-projects h2 {
    font-size: 30px;
  }

  .git-link img {
   width: 34px;
  }

  .git-link a {
   font-size: 18px;
  }
}
